<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios">
    <ion-list-header>BeiaHQ Telemetry Devices</ion-list-header>
    <ion-card>

      <ion-item button (click)="gotodevice(device.id)" detail *ngFor="let device of devices">
        <ion-avatar slot="start">
          <img *ngIf="device.picture ; else defaultimg" src="{{ device.picture }}" />
          <ng-template #defaultimg> <img src="../../assets/photos/beia-circular.png" /> </ng-template>
        </ion-avatar>
        <ion-label>
          <h2><span>ID : </span>{{ device.id }}</h2>
          <h3><span>CITY : </span>{{ device.city}}, {{ device.note }}</h3>
          <p>The device is owned by User ID- {{ device.owner }}, and the detector is {{ device.detector }}, with local time of {{ (device.timelocal.length>2)? (device.timelocal  | slice:0:2)+' ' :(device.timelocal ) }}.</p>
        </ion-label>
      </ion-item>


    </ion-card>

  </ion-list>
</ion-content>
